@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratRegular.woff2'),
    url('../fonts/montserratRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratSemiBold.woff2'),
    url('../fonts/montserratSemiBold.woff');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratBold.woff2'),
    url('../fonts/montserratBold.woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserratExtraBold.woff2'),
    url('../fonts/montserratExtraBold.woff');
  font-display: swap;
  font-weight: 800;
}

:root {
  --color-white: #fff;
  --color-mine-shaft: #333;
  --color-orange-peel: #ff9900;
  --color-christine: #e1670e;
  --color-silver: #cacaca;
}

html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}



body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:var(--color-mine-shaft);
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1770px;
}

.btn {
  padding: 19px 38px;
  border: none;
  font-weight: 700;
  line-height: 29px;
  color: var(--color-white);
  background-color: var(--color-orange-peel);
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.title {
  display: flex;
  margin: 0;
  padding-top: 100px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}




/*header*/
.header {
  box-shadow: 0 5px 40px 0px #e6e6e6;
}

.header__container {
  display: flex;
  align-items: center;
}

.header {
  padding: 11px 0;
  background-color: var(--color-white);
}

.logo {
  width: 224px;
  height: 72px;
}

.header__nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.nav__item {
  margin-right: 86px;
}


.nav__item a:focus {
  margin-right: -6px;
  padding: 6px;
  outline: 2px solid var(--color-orange-peel);
}

.nav__item:hover {
  outline: none;
  margin-top: 8px;
  padding-bottom: 7px;
  border-bottom: 2px solid var(--color-orange-peel);
}

.nav__item:active {
  outline: none;
  padding-bottom: 7px;
  color: var(--color-christine);
  border-bottom: 2px solid var(--color-christine);
}


.header__search {
  border: 0;
  width: 22px;
  height: 22px;
  background-image: url('../img/search.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

.header__search:focus {
  padding: 4px;
  outline: 1px solid #FF9900;
}

.header__search:hover {
  border: none;
  background-image: url('../img/search-hover.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

.header__search:active {
  border: none;
  background-image: url('../img/search-hover.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
}

/*hero*/

.hero {
  height: 620px;
  background-image: url("../img/building-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.hero__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__content {
  margin-left: 80px;
  width: 48%;
  color: var(--color-white);
}

.hero__title {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
}

.hero__text {
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.hero__button {
  padding: 24px 34px;
  font-size: 24px;
}


.hero__button:focus {
  background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:hover {
 background-color: rgba(255, 153, 0, 0.7);
}

.hero__button:active {
  background-color: var(--color-christine);
}


/*about-us*/

.title__about-us {
  padding-bottom: 23px;
}

.text__about-us {
  padding-bottom: 50px;
  width: 70%;
  line-height: 2;
}


.about-us-features {
  display: flex;
  height: 622px;
}

.about-us-features__content {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  padding: 50px;
  color: var(--color-white);
  background-image: url("../img/man.jpg");
  background-repeat: no-repeat;
 
}

.about-us-features__content::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 196px;
  width: 868px;
  background-color: var(--color-mine-shaft);
  opacity: 80%;
}

.about-us-features__text {
  margin-right: 150px;
  width: 55%;
  line-height: 2;
  font-weight: 700;
  color: var(--color-white);
  z-index: 5;
}

.about-us-features__button {
  padding: 16px 37px;
  margin-bottom: 20px;
  border: 3px solid var(--color-orange-peel);
  color: var(--color-white);
  background-color: transparent;
  z-index: 5;
  cursor: pointer;
}

.about-us-features__button:focus {
  outline: none;
  background-color: var(--color-orange-peel);
}

.about-us-features__button:hover {
  background-color: var(--color-orange-peel);
}

.about-us-features__button:active {
  border: 3px solid var(--color-christine);
  background-color: var(--color-christine);
}

.about-us-features__list {
  float: left;
}

.about-us-features__item {
  border: 1px solid var(--color-mine-shaft);
  padding: 66px 10px 66px 295px;
  background-image: url('../img/frame-1.svg');
  background-repeat: no-repeat;
  background-position: 55px;
}

.about-us-features__item:first-child {
  margin-bottom: 30px;
}

.about-us-features__item:last-child {
  background-image: url('../img/frame-2.svg');
}

.about-us-features__subtitle {
  margin-bottom: 7px;
  font-size: 24px;
}

.about-us-features__desc {
  width: 80%;
  line-height: 2;
}

/*work*/

.title__work {
  margin-bottom: 50px;
}

.work__pagination-list {
  display: flex;
  margin-bottom: 53px;
  font-size: 18px;
  color: var(--color-mine-shaft);
}

.swiper__pagination-item:not(:last-child) {
  margin-right: 86px;
}

.swiper__pagination-item a:focus {
  padding: 5px 3px;
  outline: 2px solid var(--color-orange-peel);
}

.swiper__pagination-item:hover {
  color: var(--color-orange-peel);
}

.swiper__pagination-item:active {
  color:var(--color-christine);
}


.work__content {
  display: flex; 
}

.work__subtitle {
  margin-bottom: 8px;
  font-size: 24px;
  color:var(--color-mine-shaft)
}

.work__desc {
  width: 85%;
  margin-bottom: 50px;
  line-height: 2;
}

.work__image {
  padding-top: 5px;
  width: 870px;
}

.work-btn {
  padding: 20px 0;
  cursor: pointer;
}

.work-btn:focus {
  outline: none;
}

.work__btn--fill {
  margin-right: 30px;
  padding-right: 40px;
  padding-left: 40px;
  border: none;
  color: var(--color-white);
  background-color: var(--color-orange-peel);
}

.work__btn--fill:focus {
  background-color: #F7B045;
}

.work__btn--fill:hover {
  background-color: #F7B045;
}

.work__btn--fill:active {
  background-color: var(--color-christine);
}

.work__btn--stroke {
  padding-right: 37px;
  padding-left: 37px;
  border: 1px solid var(--color-mine-shaft);
  background: transparent;
}

.work__btn--stroke:focus {
  color: var(--color-white);
  background-color: #666666;
}

.work__btn--stroke:hover {
  color: var(--color-white);
  background-color: #666;
}

.work__btn--stroke:active {
  color: var(--color-white);
  background-color: #000;
}

/*anwers*/

.answers {
  margin-bottom: 100px;
}

.answers__title {
  margin-bottom: 42px;
}

.answers__item {
  padding-top: 41px;
  padding-bottom: 41px;
  border-top: 1px solid var(--color-silver);
  border-bottom: 1px solid var(--color-silver);
  font-size: 24px;
  font-weight: 700;
  background-image: url('../img/x.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.answers__item:focus-within {
  color: var(--color-orange-peel);
  border-top: 1px solid var(--color-orange-peel);
  border-bottom: 1px solid var(--color-orange-peel);
  background-image: url('../img/x-hover.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.answers__item a:focus {
  outline: none; 
}

.answers__item:hover {
  color: var(--color-orange-peel);
  border-top: 1px solid var(--color-orange-peel);
  border-bottom: 1px solid var(--color-orange-peel);
  background-image: url('../img/x-hover.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.answers__item:active {
  border-top: 1px solid var(--color-silver);
  border-bottom: 1px solid var(--color-silver);
  color: var(--color-mine-shaft);
  font-size: 24px;
  font-weight: 700;
  background-image: url('../img/x-active.svg');
  background-repeat: no-repeat;
  background-position: right center;
}

.slash {
  color: var(--color-silver);
}

/*footer*/
.footer {
  color: var(--color-silver);
  background-color: var(--color-mine-shaft);
}

.footer__content {
  display: flex;
  padding-top: 50px;
  padding-bottom: 28px;
}

.footer__col {
  padding-right: 300px;
}

.footer__logo {
  width: 224px;
  height: 72px;
}

.footer__nav {
  display: flex;
  margin-top: 16px;
  margin-bottom: 90px;
}

.nav__item-footer {
  width: 300px;
  font-size: 18px;
  line-height: 2;
}

.nav__item-footer a:focus {
  padding: 2px;
  outline: 2px solid var(--color-orange-peel);
}

.nav__item-footer:hover {
  color: var(--color-orange-peel);
}

.nav__item-footer:active {
  color: var(--color-christine);
}

.socials__list {
  display: flex;
}

.socials__item {
  display: inline-block;
  margin-right: 25px;
  width: 60px;
  height: 60px;
}

.socials__item:focus {
  outline: 2px solid var(--color-orange-peel);
}

.fb {
  background: url('../img/fb.svg') no-repeat;
}

.fb:hover {
  background: url('../img/fb-hover.svg') no-repeat;
}

.fb:active {
  background: url('../img/fb-active.svg') no-repeat;
}

.vk {
  background: url('../img/vk.svg') no-repeat;
}

.vk:hover {
  background: url('../img/vk-hover.svg') no-repeat;
}

.vk:active {
  background: url('../img/vk-active.svg') no-repeat;
}

.instagram {
  background: url('../img/instagram.svg') no-repeat;
}

.instagram:hover {
  background: url('../img/instagram-hover.svg') no-repeat;
}

.instagram:active {
  background: url('../img/instagram-active.svg') no-repeat;
}

.footer__title {
  margin-bottom: 25px;
  font-size: 48px;
  font-weight: 400;
}

.footer__form {
  display: inline;
  padding-right: 239px;
}

.form__input {
  width: 570px;
  color: var(--color-silver);
  background-color: #414141;
  padding: 20px 24px;
  margin-bottom: 25px;
}

.textarea {
  resize: none;
}

.form__input:focus {
  outline: none;
  background-color: #666;
}

.form__input:hover {
  background-color: #666;
}

.form__input:active {
  color: var(--color-white);
  background-color: #666;
}

.form__button {
  margin-right: 14px;
  padding: 14px 53px;
  cursor: pointer;
}


.form__button:focus {
  background-color: #F7B045;
}

.form__button:hover {
  background-color: #F7B045;
}

.form__button:active {
  background-color: var(--color-christine);
}

.checkbox {
  position: relative;
  user-select: none;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  border: 1px solid transparent;
  padding-left: 18px;
}

.checkbox__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid currentColor;
  width: 14px;
  height: 14px;
}

.checkbox__text::after {
  content: "";
  position: absolute;
  left: 1px;
  top: 0;
  width: 14px;
  height: 14px;
  background-image: url("../img/check.svg");
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__text::after {
  opacity: 100%;
}

.footer__text {
  padding-top: 89px;
  line-height: 2;
}
